body{
    background-color: #DFF8EB;
    font-family: 'Segoe Condensed', Arial, sans-serif;
    margin: 0%; 
    /* overflow: hidden; */
}


.mylangs{
    text-align: center;
    font-size: 40px;
}

header {
    position: fixed;
    background-color: #364156;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-attachment: fixed;
    top: 0px;
}

ol{
    color: black;
    font-weight: bolder;
    list-style: square;
}

ol li{
    width: 100%;
    height: 30px;
    text-align: left;  
}

ol a{
    color: black;
}


.header-content h1 {  
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-shadow: 6px 5px 10px #1b222e;
}

.header-content h2 {
    float: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 6px 5px 10px #1b222e;
}
.header-content a{
    position:fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: 100;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    /* margin-top: 172px; */
    margin-top: 172px;
    margin-bottom: -100px;
    background-color: #CDCDCD;
    height: calc(100% - 172px);
    text-shadow: 3px 7px 10px rgb(117, 117, 117);
    overflow-y: scroll;
}

ul{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    
}
img {
    width: inherit;
    height: inherit;
}
a{
    width: inherit;
    height: a;
    text-decoration: none;
    color: white;
    font-family: 'Segoe Condensed';
    font-size: 20px;
    font-weight: 600;
    
}
a:hover{
    opacity: .5;
}
li.current-page{
    opacity: .1;
}

li{
    text-align: center;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    height: 80px;
    width: 80px;
    
}

.content {
    margin-top: 180px;
    margin-left: 180px;
    padding-right: 10px;
    overflow: scroll;
}

.content h1{
    font-size: 40px;
    font-weight: 900;
    color: #214E34;
}

.content h2{
    text-indent: 60px;
    color: #011638;
}

.content h3{
    color: black;
    
}

.content h3 a{
    color: black;
}

.content .cert{
    height: 300px;
    width: 425px;
}

.content .pydonow{
    height: 983px;
    width: 850px;
}

.content .pydonow2{
    height: 400px;
    width: 850px;
}

.content .pyttt{
    height: 1170px;
    width: 845px;
}

.content .todo{
    width: 250px;
    height:440px;
}

.content .warimg{
    float: left;
    /* width: 250px;
    height:440px; */
    width: 30%;
    height: auto;
}

.content .wartext{
    padding-left: 20px;
    overflow: auto;
    /* width: 310px; */
    width: 65%;
}

.war {
    margin: 10%;
    width: 80%;
}
