<!DOCTYPE html>
<html>
    <head>
        <title>Java</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li><a href = "/webdev"><img src="static/webdevlogo.png" alt="webdevlogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
                <li class="current-page"><a href = "/arduino"><img src="static/arduinologo.png" alt="arduino"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>Arduino</h1>
                    <h2>Michael Reineke</h2>
                    <a href="/">Home</a>
                </div>
        </header>
            <div class="content">
                
            </div>

    </body>
</html>