<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>

    <body bgcolor=#b3e6ff>
        <h1><center>ATCS Portfolio</center></h1>
        <h2><center>Michael Reineke</center><hr color=#000000</h2>
        <h2><center>My Languages</center></h2>
        <center>
        <a href = "/java"><img src="static/javalogo.png" height="80px" width="80px" border="0px" alt="javalogo"/></a>
        <a href = "/python"><img src="static/pythonlogo.png" height="80px" width="80px" border="0px" alt="pythonlogo"/></a>
        <a href = "/swift"><img src="static/swiftlogo.png" height="80px" width="80px" border="0px" alt="swiftlogo"/></a>
        <a href = "/webdev"><img src="static/htmllogo.png" height="80px" width="80px" border="0px" alt="htmllogo"/></a>
        </center>

        <br /><hr color=#000000</h2>
    </body>
</html>