<!DOCTYPE html>
<html>
    <head>
        <title>Reineke</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        
        <nav style="overflow:scroll">
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li><a href = "/webdev"><img src="static/webdevlogo.png" alt="htmllogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
                <li><a href = "/arduino"><img src="static/arduinologo.png" alt="arduino"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>ATCS Portfolio</h1>
                    <h2>Michael Reineke</h2>
                </div>
        </header>
        <div class="content">
                <h1>About Me</h1>
                <h2>My name is Michael Reineke. I am a junior at Pascack Hills High School in Montvale, NJ, at which I am a member of the technology committee. I am a fourth degree Black Belt in Taekwondo, as well as the captain of the PHHS Bowling Team. I have a passion for Computer Science, and have varying experience in Java, Python, Swift, HTML, and CSS.</h2>
                <h1>SoloLearn Certificates</h1>
                <ol class="certs">
                    <li><a href="/java">Java Tutorial</a></li>
                    <li><a href="/swift">Swift 4 Fundamentals</a></li>
                    <li><a href="/python">Python 3 Tutorial</a></li>
                    <li><a href="/webdev">HTML Fundamentals</a></li>
                    <li><a href="/webdev">CSS Fundamentals</a></li>
                    <li><a href="/webdev">JavaScript Tutorial</a></li>
                </ol>
        </div>
    </body>
</html>