<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>

    <body bgcolor=#b3e6ff>
        <h1><center>ATCS Portfolio</center></h1>
        <h2><center>Michael Reineke</center><hr color=#000000</h2>
        <h2><center>My Languages</center></h2>
        <center><img src="static/javalogo.png" height="80px" width="80px" border="0px" alt="javalogo"/>
        <img src="static/pythonlogo.png" height="80px" width="80px" border="0px" alt="pythonlogo"/>
        <img src="static/swiftlogo.png" height="80px" width="80px" border="0px" alt="swiftlogo"/>
        <img src="static/htmllogo.png" height="80px" width="80px" border="0px" alt="htmllogo"/></center>
        <br /><hr color=#000000</h2>
    </body>
</html>