<!DOCTYPE html>
<html>
    <head>
        <title>Java</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li class="current-page"><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li><a href = "/webdev"><img src="static/webdevlogo.png" alt="webdevlogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
                <li><a href = "/arduino"><img src="static/arduinologo.png" alt="arduino"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>Java | Object Oriented Programming</h1>
                    <h2>Michael Reineke</h2>
                    <a href="/">Home</a>
                </div>
        </header>
            <div class="content">
                <h1>A Brief History</h1>
                <h2>Java is an Object-Oriented programming language developed by James Gosling at Sun Microsystems in 1995. Java's syntax is heavily influenced from other languages such as C and C++.</h2>
                <h3>Source: <a href="https://en.wikipedia.org/wiki/Java_(programming_language)?scrlybrkr=aaa0e04b">Wikipedia</a></h3>
                <h1><center>SoloLearn Certificate</center></h1>
                <center><img class = "cert" src="static/JavaCert.jpg" /></center>
                <h1><left>Characteristics of Object Oriented Programming</left></h1>
                <h2><left>Encapsulation – Protecting data from outside classes.</left></h2>
                <h2><left>Inheritance- A class can use ideas and variables from a parent or super class. Classes can work together.</left></h2>
                <h2><left>Abstraction- Having the idea of a process without providing code.</left></h2>
                <h2><left>Polymorphism- One process (function/method) can have multiple uses while keeping one unique name.</left></h2>
                <h1><left>What other programming paradigms exist?</left></h1>
                <h2><left>Functional</left></h2>
                <h2><left>Declarative</left></h2>
                <h2><left>Imperative</left></h2>
                <h1>OOP Languages</h1>
                <h2>Java</h2>
                <h2>Python</h2>
                <h2>Swift</h2>
                <h1>Non-OOP Languages</h1>
                <h2>C</h2>
                <h2>Fortran</h2>
                <h2>Basic</h2>
            </div>

    </body>
</html>