<!DOCTYPE html>
<html>
    <head>
        <title>Python</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li class="current-page"><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li><a href = "/webdev"><img src="static/webdevlogo.png" alt="htmllogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
                <li><a href = "/arduino"><img src="static/arduinologo.png" alt="arduino"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>Python</h1>
                    <h2>Michael Reineke</h2>
                    <a href="/">Home</a>
                </div>
        </header>
        <div class="content">
                <h1>A Brief History</h1>
                <h2>Python is an Object-Oriented programming language developed by Guido Van Rossum in the Netherlands released in 1991. Python focuses on readability and formatting.  Python supports different programming paradigms. The language was named after Monty Python. </h2>
                <h1><center>SoloLearn Certificate</center></h1>
                <center><img class = "cert" src="static/PyCert.jpg" /></center>
                <h1><center>Some Do Now Code</center></h1>
                <center><img class = "pydonow" src="static/PyDoNow_Page_1.jpg" /></center>
                <center><img class = "pydonow2" src="static/PyDoNow_Page_2.jpg" /></center>
                <h1><center>Tic Tac Toe</center></h1>
                <center><img class = "pyttt" src="static/PyTTT_Page_1.png" /></center>
                <center><img class = "pyttt" src="static/PyTTT_Page_2.png" /></center>
                <center><img class = "pyttt" src="static/PyTTT_Page_3.png" /></center>
                <center><img class = "pyttt" src="static/PyTTT_Page_4.png" /></center>
                <center><img class = "pyttt" src="static/PyTTT_Page_5.png" /></center>
        </div>

    </body>
</html>