<!DOCTYPE html>
<html>
    <head>
        <title>Swift</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li class="current-page"><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li><a href = "/webdev"><img src="static/webdevlogo.png" alt="htmllogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>Swift</h1>
                    <h2>Michael Reineke</h2>
                    <a href="/">Home</a>
                </div>
        </header>
        <div class="content">
                <h1>A Brief History</h1>
                <h2>Swift is Apple's iOS (Object-Oriented) programming language derived from Objective-C. Swift code is written in Xcode, Apple's developer IDE. Xcode is a modern language, first appearing in 2014. </h2>
                <h1><center>SoloLearn Certificate</center></h1>
                <center><img class = "cert" src="static/swiftcert.jpg" /></center>
                <h1><center>Sololearn "ToDo App" Tutorial Final Product</center></h1>
                <center><img class = "todo" src="static/todoimg1.png" />
                <img class = "todo" src="static/todoimg2.png" /></center>
                <br><br><br>
                <div class="war">
                    <img class = "warimg" src="static/warimg.png">
                    <div class="wartext">
                        <center><h1>War</h1>
                        <h2 style="text-indent: 0px;">War is the first iOS game I created. It uses a single View Controller, consisting of Labels, Buttons, and UIImageViews. Building this app allowed for the exploration of Swift's features and an introduction to Xcode's UI. </h2>
                        </center>
                    </div>
                </div>
        </div>

    </body>
</html>