<!DOCTYPE html>
<html>
    <head>
        <title>Web Dev</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" href="static/RLangTip.png">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href = "/contact">Contact Me</a></li>
                <li><a href = "/java"><img src="static/javalogo.png" alt="javalogo"/></a></li>
                <li><a href = "/python"><img src="static/pythonlogo.png" alt="pythonlogo"/></a></li>
                <li><a href = "/swift"><img src="static/swiftlogo.png" alt="swiftlogo"/></a></li>
                <li class="current-page"><a href = "/webdev"><img src="static/webdevlogo.png" alt="htmllogo"/></a></li>
                <li><a href = "/careerday"><img src="static/pencillogo.png" alt="careerday"/></a></li>
            </ul>
        </nav>
        <header>
                <div class="header-content">
                    <h1>Web Development</h1>
                    <h2>Michael Reineke</h2>
                    <a href="/">Home</a>
                </div>
        </header>
        <div class="content">
                <h1>HTML</h1>
                <h2>HyperText Markup Language is the standard markup language used to create websites. HTML works alongside programming languages such as CSS, JavaScript, and Python. These languages add behaviors to the elements added to the page through HTML.</h2>
                <h1><center>SoloLearn Certificate</center></h1>
                <center><img class = "cert" src="static/html_cert.jpg" /></center>
                <h1>CSS</h1>
                <h2>Cascading Style Sheets is a styling language that goes hand-in-hand with HTML. Where HTML is used to create elements on web page, CSS is used to decorate these elements and design the page.</h2>
                <h1><center>SoloLearn Certificate</center></h1>
                <center><img class = "cert" src="static/csscert.jpg" /></center>

        </div>

    </body>
</html>